@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: black;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lusitana", serif;
}
